* {
    box-sizing: border-box;
    -moz-user-select: none;
    -webkit-user-select: none;
}

body {
    padding: 20px;
    margin: 0px;

    text-align: left;
    font-family: 'Roboto', 'Arial';
    font-size: 16px;
    line-height: 1em;
    background: #4B7472;
}

/*--------------*/

progress[value] {
    -webkit-appearance: none;
    appearance: none;

    width: 250px;
    height: 16px;
}

progress[value]::-webkit-progress-bar {
    border-radius: 0px;
    background-color: #33393c;
}

progress[value]::-webkit-progress-value {
    background: #18d1a8;
}

/*--------------*/

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    height: 50px;
    margin: 0px;
    background: transparent;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-ms-track {
    cursor: pointer;
    width: 100%;
    border-color: transparent;
    color: transparent;
    background: transparent; 
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 3px;
    margin-top: -7px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    cursor: pointer;
    background: #ffffff;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}

input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 3px;
    margin-top: -7px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    cursor: pointer;
    background: #ffffff;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}


input[type=range]::-webkit-slider-runnable-track {
    cursor: pointer;
    width: 100%;
    height: 8px;
    border-radius: 3px;
    background: #fff;
}

input[type=range]::-moz-range-track {
    cursor: pointer;
    width: 100%;
    height: 8px;
    border-radius: 3px;
    background: #fff;
}

/*--------------*/

#media-player {
    width: 350px;
    max-width: 100%;
    margin: 0px auto;
    color: #c6c6c6;
    background: #1D2427;
}

    #media-list {
        list-style: none;
        padding: 0px;
        margin: 0px;
    }

        #media-list li {
            border-bottom: solid 2px #2a3337;
        }

            #media-list a {
                display: block;
                width: 100%;
                padding: 10px 30px;
                color: inherit;
                text-decoration: none;
            }

                #media-list a span {
                    display: block;
                }

                #media-list a .artist {
                    margin-top: 5px;
                    font-size: 0.8em;
                    line-height: 1em;
                    color: #526066;
                }

    #buttons {
        display: flex;
        padding: 10px;
        color: #fff;
        background: #18d1a8;
    }

        #buttons button {
            display: block;
            width: 50px;
            height: 50px;
            padding: 0px 0px 3px 0px;
            border: none;
            color: inherit;
            background: transparent;
        }

        #buttons input {
            width: calc(100% - 50px);
        }

    #status {
        padding: 10px;
    }
    
        #title {
            font-size: 20px;
            line-height: 1em;
        }

        #artist {
            margin-top: 5px;
            font-size: 18px;
            line-height: 1em;
            color: #526066;
        }

        #progress {
            display: flex;
            margin-top: 10px;
        }

            #progress-bar {
                width: calc(100% - 100px);
                margin: 0px 10px;
            }

            #current-time, 
            #remaining-time {
                width: 40px;
                text-align: center;
            }

    